{% extends "base.html" %}

{% block title %}
    Ustawienia profilu
{% endblock %}

{% block content %}
    {% load widget_tweaks %}
    <form action="{% url 'profuzyt:profile' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 input-group item">
                {{ form.firstname.label }}:
                {% render_field form.firstname class="form-control" %}
            </div>
        </div>
        {% if form.firstname.errors %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    {{ form.firstname.errors.as_text }}<br>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 input-group item">
                {{ form.lastname.label }}:
                {% render_field form.lastname class="form-control" %}
            </div>
        </div>
        {% if form.lastname.errors %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    {{ form.lastname.errors.as_text }}<br>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 input-group item">
                {{ form.email.label }}:
                {% render_field form.email class="form-control" %}
            </div>
        </div>
        {% if form.email.errors %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    {{ form.email.errors.as_text }}<br>
                </div>
            </div>
        {% endif %}
        {% if email_exists %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    * Istnieje już użytkownik z takim adresem e-mail!<br>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center item">
                <input type="submit" name="profile_change_button" value="Zmień dane profilu" class="btn btn-primary">
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 input-group item">
                {{ form_pass.password.label }}:
                {% render_field form_pass.password class="form-control" %}
            </div>
        </div>
        {% if form_pass.password.errors %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    {{ form_pass.password.errors.as_text }}<br>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 input-group item">
                {{ form_pass.repeatpassword.label }}:
                {% render_field form_pass.repeatpassword class="form-control" %}
            </div>
        </div>
        {% if form_pass.repeatpassword.errors %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    {{ form_pass.repeatpassword.errors.as_text }}<br>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center item">
                <input type="submit" name="password_change_button" value="Zmień hasło" class="btn btn-danger">
            </div>
        </div>
    </form>
{% endblock %}