{% extends "base.html" %}

{% block title %}
    Ankiety - Zmiana ankiety
{% endblock %}

{% block content %}
    {% load widget_tweaks %}
    <form action="{% url 'polls:change' poll_id %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 input-group item">
                {{ form.name.label }}:
                {% render_field form.name class="form-control" placeholder="np. Wybory starosty" %}
            </div>
        </div>
        {% if form.name.errors %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    {{ form.name.errors.as_text }}<br>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 input-group item">
                {{ form.pollstart.label }}:
                {% render_field form.pollstart class="form-control" placeholder="DD/MM/RRRR GG:MM:SS" %}
            </div>
        </div>
        {% if form.pollstart.errors %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    {{ form.pollstart.errors.as_text }}<br>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 input-group item">
                {{ form.pollend.label }}:
                {% render_field form.pollend class="form-control" placeholder="DD/MM/RRRR GG:MM:SS" %}
            </div> 
        </div>
        {% if form.pollend.errors %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    {{ form.pollend.errors.as_text }}<br>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 input-group text-center item">
                <div class="btn-group">
                    <input type="submit" name="update_else_button" value="Zmień dane ankiety" class="btn btn-primary">
                </div>
            </div>
        </div>
        {% if not vote_started %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 input-group item">
                    {{ form.maxvote.label }}:
                    {% render_field form.maxvote class="form-control" placeholder="np. 2" %}
                </div>
            </div>
            {% if form.maxvote.errors %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 alert alert-danger">
                        {{ form.maxvote.errors.as_text }}<br>
                    </div>
                </div>
            {% endif %}
            {% if maxvote_lower %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 alert alert-danger">
                        * Ilość głosów nie może być większa od ilości kandydatów.<br>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 input-group item">
                    Kandydaci:<br>
                    <div class="scrollbox">
                        {% for user, checked in candidates.items %}
                            <input type="checkbox" name="{{ user.username }}candidate" {{ checked }}>
                            {{ user.first_name }} {{ user.last_name }} ({{ user.username }})<br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if candidates_empty %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 alert alert-danger">
                        * Przynajmniej jeden kandydat musi być zaznaczony.<br>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 input-group item">
                    Upoważnieni do głosowania:<br>
                    <div class="scrollbox">
                        {% for user, checked in authorized.items %}
                            <input type="checkbox" name="{{ user.username }}authorized" {{ checked }}>
                            {{ user.first_name }} {{ user.last_name }} ({{ user.username }})<br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if authorized_empty %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 alert alert-danger">
                        * Przynajmniej jedna upoważniona osoba musi być zaznaczona.<br>
                    </div> 
                </div>
            {% endif %}
            <br>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 input-group text-center item">
                    <div class="btn-group">
                        <input type="submit" name="update_users_button" value="Zmień kandydatów i upoważnionych" class="btn btn-primary">
                        <input type="submit" name="delete_button" value="Usuń ankietę" class="btn btn-danger">
                    </div>
                </div>
            </div>
        {% endif %}
    </form>
{% endblock %}