{% extends "base.html" %}

{% block title %}
    Ankiety - Utworzono ankietę
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 alert alert-success">
            Gratulacje!<br>
            Udało Ci się utworzyć ankietę o nazwie "{{ poll.name }}".<br>
            <a href="/polls/{{ poll.id }}/">Przejdź tutaj</a> aby wyświetlić ankietę lub
            <a href="/polls/{{ poll.id }}/change/">przejdź tutaj</a> aby zmienić ustawienia ankiety.
        </div>
    </div>
{% endblock %}