{% extends "base.html" %}

{% block title %}
    Ankiety - Zakończone ankiety
{% endblock %}

{% block content %}
    {% load polls_tags %}
    {% if ended_polls_list %}
        <ul>
            {% for poll in ended_polls_list %}
                <div class="row">
                    <div class="col-md-6 item">
                        <div class="well well-poll">
                            <a href="/polls/{{ poll.id }}/summary"><span class="glyphicon glyphicon-list-alt">
                                </span>  <b>{{ poll.name }}</b><br>Twórca:
                                <i>{{ poll.creator.first_name }} {{ poll.creator.last_name }}
                                ({{ poll.creator.username }})</i><br>Zwycięzcy:<br>
                                {% poll_winner poll.id as poll_winner %}
                                <ul style="padding-left: 20px">
                                    {% if poll_winner %}
                                        {% for winner in poll_winner %}
                                            <li><i>{{ winner.first_name }} {{ winner.last_name }}
                                                ({{ winner.username }})</i></li>
                                        {% endfor %}
                                    {% else %}
                                        <i>brak</i>
                                    {% endif %}
                                </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3 alert alert-info">
                Nie ma żadnych zakończonych ankiet...
            </div>
        </div>
    {% endif %}
{% endblock %}