{% extends "base.html" %}

{% block title %}
    Ankiety - Nadchodzące ankiety
{% endblock %}

{% block content %}
    {% if incoming_polls_list %}
        <ul>
            {% for poll in incoming_polls_list %}
                <div class="row">
                    <div class="col-md-6 item">
                        <div class="well well-poll">
                            <a href="/polls/{{ poll.id }}"><span class="glyphicon glyphicon-list-alt">
                                </span>  <b>{{ poll.name }}</b><br>Twórca:
                                <i>{{ poll.creator.first_name }} {{ poll.creator.last_name }}
                                ({{ poll.creator.username }})</i><br>Data rozpoczęcia:
                                <i>{{ poll.vote_start|date:"d E o, G:i:s" }}</i><br>Data zakończenia:
                                <i>{{ poll.vote_end|date:"d E o, G:i:s" }}</i><br>Dozwolona ilość zaznaczeń:
                                <i>{{ poll.max_vote_number}}</i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3 alert alert-info">
                Nie ma żadnych nadchodzących ankiet...
            </div>
        </div>
    {% endif %}
{% endblock %}