{% extends "base.html" %}

{% block title %}
    Ankiety - Moje ankiety
{% endblock %}

{% block content %}
    {% load polls_tags %}
    {% if my_polls_list %}
        <ul>
            {% for poll in my_polls_list %}
                <div class="row">
                    <div class="col-md-6 item">
                        <div class="well well-poll">
                            <a href="/polls/{{ poll.id }}"><span class="glyphicon glyphicon-list-alt">
                                </span>  <b>{{ poll.name }}</b></a><br>
                            {% poll_status poll.id as poll_status %}
                            <a href="/polls/{{ poll.id }}/change"><span class="glyphicon glyphicon-wrench">
                                </span>  Zmień ankietę</a><br>
                            Status:<i>
                            {% if poll_status == 2 %}
                                <div style="color: green; display: inline">
                                    W trakcie głosowania
                                </div>
                            {% elif poll_status == 1 %}
                                <div style="color: blue; display: inline">
                                    Nadchodząca
                                </div>
                            {% else %}
                                <div style="color: red; display: inline">
                                    Zakończona
                                </div>
                            {% endif %}</i>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3 alert alert-info">
                Nie masz żadnych ankiet. Aby utworzyć nową <a href="/polls/create">przejdź tutaj</a>.
            </div>
        </div>
    {% endif %}
{% endblock %}