{% extends "base.html" %}

{% block title %}
    Ankieta "{{ poll.name }}" - Głosowanie
{% endblock %}

{% block content %}
    {% csrf_token %}
    {% load polls_tags %}
    {% can_user_vote user.get_username poll.id as can_user_vote %}
    {% poll_status poll.id as poll_status %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 item">
            <div class="well well-poll">
                <span class="glyphicon glyphicon-list-alt"></span>  <b>{{ poll.name }}</b><br><br>
                Kandydaci:
                <ul>
                    {% for option in poll.polloption_set.all %}
                        <li>{{ option.candidate.first_name }} {{ option.candidate.last_name }}
                            ({{ option.candidate.username }})
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% if poll_status == 2 %}
        {% if user.is_authenticated %}
            {% if can_user_vote == 2 %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 item text-center">
                        <a href="/polls/{{ poll.id }}/vote" class="btn btn-primary">Zagłosuj!</a>
                    </div> 
                </div>
            {% elif can_user_vote == 1 %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 item alert alert-info">
                        Już głosowałeś na tą ankietę.
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 item alert alert-warning">
                        Nie masz praw do głosowania w tej ankiecie.
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert item alert-info">
                    Zaloguj się aby móc zagłosować.
                </div>
            </div>
        {% endif %}
    {% elif poll_status == 1 %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3 alert alert-info item">
                Głosowanie na tą ankietę jeszcze się nie rozpoczeło.
            </div>
        </div>
    {% endif %}
{% endblock %}