{% extends "base.html" %}

{% block title %}
    Ankieta "{{ poll.name }}" - Podsumowanie
{% endblock %}

{% block head %}
    {% load static %} 
    <charset="utf-8" />
    <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.js" %}"></script>
    <script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fint.js" %}"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    {% load polls_tags %}
    {% poll_attendance poll.id as poll_attendance %}
    {% poll_winner poll.id as poll_winner %}
    <div class="row">
        <div class="col-md-offset-2 item">
            <div id="chart-1">{{ output|safe }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 input-group item">
            <div class="well well-poll">
                <b>Zwycięzcy:</b><br>
                <ul>
                    {% if poll_winner %}
                        {% for winner in poll_winner %}
                            <li><i>{{ winner.first_name }} {{ winner.last_name }}
                            ({{ winner.username }})</i></li>
                        {% endfor %}
                    {% else %}
                        <i>brak</i>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 alert alert-info item">
            <b>Frekwencja:</b> {{ poll_attendance|floatformat:2 }}%
        </div>
    </div>
{% endblock %}