{% extends "base.html" %}

{% block title %}
    Ankieta "{{ poll.name }}" - Głosowanie
{% endblock %}

{% block content %}
    {% if vote_timeout %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3 item alert alert-warning">
                Głosowanie na tą ankietę zostało już zakończone!<br>
                <a href="/polls/{{ poll.id }}/summary">Przejdź tutaj</a> aby zobaczyć wyniki.
            </div>
        </div>
    {% else %}
        {% if too_many_options %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    Zaznaczono zbyt dużo opcji.<br>
                </div>
            </div>
        {% endif %}
        {% if no_options %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    Musisz zaznaczyć przynajmniej jedną opcję.<br>
                </div>
            </div>
        {% endif %}
        <form action="{% url 'polls:votemake' poll.id %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 input-group item">
                    <b>Wybierz kandydata/-ów:</b><br><br>
                    <div class="scrollbox-vote">
                        {% for option in poll.polloption_set.all %}
                            <input type="checkbox" name="option" value="{{ option.candidate }}" />
                            {{ option.candidate.first_name }} {{ option.candidate.last_name }}
                            ({{ option.candidate.username }})<br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 item">
                    <i>Maksymalna dozwolona liczba głosów: <b>{{ poll.max_vote_number }}</b></i><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 input-group text-center item">
                    <input type="submit" value="Zagłosuj" class="btn btn-primary">
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}