{% extends "base.html" %}

{% block title %}List!{% endblock %}

{% block content %}
<ul id="news_one">
{% for post in posts %}
<div id="news">
<li >
    <h3>{{ post.title }}</h3>
    <p>{{ post.text }}</p>
</li>
</div>
{% endfor %}
</ul>
</div>
{% endblock %}