{% extends "base.html" %}

{% block title %}
    Strona główna
{% endblock %}

{% block content %}
    {% load static %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <img src="{% static '404.png' %}"><br><br><br>
            <h3>Podana strona nie istnieje!</h3><br><br><br>
        </div>
    </div>
{% endblock %}