<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>{% block title %} {% endblock %} - E-Wybory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block head %} {% endblock %}
</head>

<body>

<div id="logo">
    <div id="logo_roz">
      
            <a href="/"><img src="{% static 'logo.png' %}"></a>
      
        </div>
</div>
    <div id="container">

      <nav id="navbar">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="/">Strona główna</a></li>
                    <li><a href="/polls/active">Aktywne ankiety</a></li>
                    <li><a href="/polls/ended">Zakończone ankiety</a></li>
                    <li><a href="/polls/incoming">Nadchodzące ankiety</a></li>
                    <li><a href="/maps/">Mapa</a></li>
                    <li><a href="/news/">News</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="/polls/create">Stwórz ankietę</a></li>
                        <li><a href="/polls/mypolls">Moje ankiety</a></li>
                        
                        <li><a href="/profile"><span class="glyphicon glyphicon-cog">
                            </span> Ustawienia profilu</a></li>
                        <li><a href="/auth/logout"><span class="glyphicon glyphicon-log-out">
                            </span> Wyloguj się</a></li>
                    {% else %}
                        <li><a href="/auth/register"><span class="glyphicon glyphicon-user">
                            </span> Zarejestruj się</a></li>
                        <li><a href="/auth/login"><span class="glyphicon glyphicon-log-in">
                            </span> Zaloguj się</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

    </div>
        
        <div id="container">
        <div id="container_in">
            <div class="row">
                {% block content %} {% endblock %}
            </div>
        </div>
        
    </div>



    <div id="footer" class="well">
            <div class="row">
                <div class="row col-md-6 col-md-offset-3 text-center item">
                    <a class="footer__copy-link" href="https://www.facebook.com/viktoria.kopasovska" itemprop="url">
                        <span itemprop="name">Viktoria Kopasovska</span>
                    </a>
                    <a class="footer__copy-link" href="https://www.facebook.com/profile.php?id=100002484064160" itemprop="url">
                        <span itemprop="name">Adrian Łupiński</span>
                    </a>
                    <a class="footer__copy-link" href="https://www.facebook.com/piotr.kozikowski.79" itemprop="url">
                        <span itemprop="name">Piotr Kozikowski</span>
                    </a>
                    <a class="footer__copy-link" href="https://www.facebook.com/nasytko" itemprop="url">
                        <span itemprop="name">Pavel Nasytka</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="row col-md-4 col-md-offset-4 text-center item">
                    <b><a href="/admin">Panel administracyjny</a></b><br><br>
                </div>
            </div>
        </div>

</body>

</html>