{% extends "base.html" %}

{% block title %}
    Strona główna
{% endblock %}

{% block content %}
    {% load static %}
    <div class="row">

        
        <div id="index_center">
<h3>Witaj na stronie E-Wyborów!</h3>
            <table width="100%" cellspacing="0" cellpadding="5">
                
                <tr> 
                 <td width="300" valign="top"<div id="ikonka_gl">
                        <img src="{% static 'glo_ik.png' %}"></a>
                </div></td>
                 <td valign="top"><br>
                     Nie masz konta? <a href="/auth/register">Przejdź tutaj</a> aby się zarejestrować,
                    by móc w pełni korzystać ze strony.<br>
            Masz już konto? <a href="/polls/create">Przejdź tutaj</a> aby utworzyć ankietę, lub
            <a href="/polls/active">przejdź tutaj</a> aby zagłosować w ankiecie.<br><br>
            Życzymy udanego korzystania ze strony :)<br><br></td>
                </tr>
            </table>
            
        </div>
    </div>
{% endblock %}