{% extends "base.html" %}

{% block title %}
    Logowanie
{% endblock %}

{% block content %}
    {% load widget_tweaks %}
    <form action="{% url 'loginsys:login' %}" method="post">
        {% csrf_token %}
        {% if user_not_exists %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    Błąd logowania!<br>Podana nazwa użytkownika lub hasło jest błędne!<br>
                    Sprawdź ich poprawność.
                </div>
            </div>
        {% endif %}
        {% if not_confirmed %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    Te konto jest nieaktywowane!<br>
                    Upewnij się czy wiadomość z potwierdzeniem nie trafiła do skrzynki SPAM.<br>
                    Nie dostałes wiadomości?
                    <a href="/auth/register/resend">Kliknij tutaj</a>
                    aby wysłać ją jeszcze raz.<br>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 input-group item">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                {% render_field form.username class="form-control" placeholder=form.username.label %}
            </div>
        </div>
        {% if form.username.errors %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    {{ form.username.errors.as_text }}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 input-group item">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                {% render_field form.password class="form-control" placeholder=form.password.label %}
            </div>
        </div>
        {% if form.password.errors %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    {{ form.password.errors.as_text }}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center item">
                <input type="submit" value="Zaloguj się" class="btn btn-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 item">
                <br>Nie masz konta? <a href="/auth/register">Kliknij tutaj</a> aby się zarejestrować.
            </div>
        </div>
    </form>
{% endblock %}