{% extends "base.html" %}

{% block title %}
    Rejestracja - Rejestracja zakończona pomyślnie
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 alert alert-success">
            Gratulacje!<br>
            Udało Ci się utworzyć konto, {{ firstname }} {{ lastname }}!<br>
            Wiadomość z linkiem potwierdzającym konto została wysłana na adres {{ email }}.<br>
            Upewnij się czy wiadomość nie trafiła do skrzynki SPAM.<br>
            Nie dostałes wiadomości?
            <a href="/auth/register/resend">Kliknij tutaj</a>
            aby wysłać ją jeszcze raz.
        </div>
    </div>
{% endblock %}