{% extends "base.html" %}

{% block title %}
    Rejestracja - Potwierdzenie rejestracji
{% endblock %}

{% block content %}
    {% if confirmed %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 alert alert-danger">
                Konto jest już aktywne!
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 alert alert-success">
                Dziękujemy za potwierdzenie swojego konta!<br>
                Zostałeś automatycznie na nie zalogowany.
            </div>
        </div>
    {% endif %}
{% endblock %}