{% extends "base.html" %}

{% block title %}
    Rejestracja
{% endblock %}

{% block content %}
    {% load widget_tweaks %}
    <form action="{% url 'loginsys:register' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 input-group item">
                {{ form.firstname.label }}:
                {% render_field form.firstname class="form-control" placeholder="np. Jan" %}
            </div>
        </div>
        {% if form.firstname.errors %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    {{ form.firstname.errors.as_text }}<br>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 input-group item">
                {{ form.lastname.label }}:
                {% render_field form.lastname class="form-control" placeholder="np. Kowalski" %}
            </div>
        </div>
        {% if form.lastname.errors %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    {{ form.lastname.errors.as_text }}<br>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 input-group item">
                {{ form.username.label }}:
                {% render_field form.username class="form-control" placeholder="np. jkowalski" %}
            </div>
        </div>
        {% if form.username.errors %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    {{ form.username.errors.as_text }}<br>
                </div>
            </div>
        {% endif %}
        {% if username_exists %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    Istnieje już konto z taką samą nazwą użytkownika.<br>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 input-group item">
                {{ form.password.label }}:
                {% render_field form.password class="form-control" placeholder="np. Jkowalski3_" %}
            </div>
        </div>
        {% if form.password.errors %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    {{ form.password.errors.as_text }}<br>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 input-group item">
                {{ form.repeatpassword.label }}:
                {% render_field form.repeatpassword class="form-control" placeholder="np. Jkowalski3_" %}
            </div>
        </div>
        {% if form.repeatpassword.errors %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    {{ form.repeatpassword.errors.as_text }}<br>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 input-group item">
                {{ form.email.label }}:
                {% render_field form.email class="form-control" placeholder="np. jkowalski@wp.pl" %}
            </div>
        </div>
        {% if form.email.errors %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    {{ form.email.errors.as_text }}<br>
                </div>
            </div>
        {% endif %}
        {% if email_exists %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    Istnieje już konto z takim samym adresem e-mail.<br>
                </div>
            </div>
        {% endif %}
        <div class="col-md-4 col-md-offset-4 input-group item">
            {{ form.captcha.label }}:<br>
            {{ form.captcha }}
        </div>
        {% if form.captcha.errors %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-danger">
                    {{ form.captcha.errors.as_text }}<br>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center item">
                <input type="submit" value="Zarejestruj się" class="btn btn-primary">
            </div>
        </div>
    </form>
{% endblock %}