{% extends "base.html" %}

{% block title %}
    Rejestracja - Ponowne wysłanie linku aktywującego
{% endblock %}

{% block content %}
    {% load widget_tweaks %}
    {% if not email_exists %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 alert alert-danger">
                Nie istnieje użytkownik o takim adresie email!<br>
                Sprawdź poprawność wpisanego adresu.<br>
            </div>
        </div>
    {% endif %}
    {% if user_confirmed %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 alert alert-danger">
                Konto o danym adresie jest już aktywne!<br>
            </div>
        </div>
    {% endif %}
    {% if was_post %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 alert alert-success">
                Wiadomość z linkiem potwierdzającym konto została wysłana na adres {{ email }}.<br>
                Nie dostałes wiadomości?
                <a href="/auth/register/resend">Kliknij tutaj</a>
                aby wysłać ją jeszcze raz.
            </div>
        </div>
    {% else %}
        <form action="{% url 'loginsys:register_resend' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 input-group item">
                    Wprowadź adres e-mail podany przy rejestracji:
                    {% render_field form.email class="form-control" placeholder=form.email.label %}
                </div>
            </div>
            {% if form.email.errors %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 alert alert-danger">
                        {{ form.email.errors.as_text }}<br>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center item">
                    <input type="submit" value="Wyślij" class="btn btn-primary">
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}