body {
    background-color: #f2f2f2;
    font-family: 'sans-serif';
    font-size: 16px;
}

#logo {
    background-color: #fff;
    height: 150px;
}

#logo img {
    border-radius: 8px;
    width:25%;
}

.item {
    margin-top: 20px;
}

.well {
    margin-bottom: 0px;
}

.well-poll {
    border-color: darkcyan;
}

    .well-poll a {
        color: black;
    }

.alert-danger {
    background-color: #a94442;
    color: white;
}

    .alert-danger a {
        color: pink;
    }

.alert-success {
    background-color: #3c763d;
    color: white;
}

    .alert-success a {
        color: lightgreen;
    }

.alert-info {
    background-color: #31708f;
    color: white;
}

    .alert-info a {
        color: lightblue;
    }

.alert-warning {
    background-color: #8a6d3b;
    color: white;
}

    .alert-warning a {
        color: lightcoral;
    }

.navbar-custom {
    background-color: #66CCFF;
    margin-bottom: 0px;
}

    .navbar-custom li a {
        color: black !important; 
    }

    .navbar-custom li a:hover {
        color: #113e3f !important; 
    }

#footer {
  flex: 0 0 auto;
  margin-top: 25%;
}
.scrollbox {
    height: 100px;
    overflow: auto;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
}

.scrollbox-vote {
    height: 250px;
    overflow: auto;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
}

#navbar{
    margin-bottom: 0;
}

#container{
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    marker-end: 15px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.75);
    border-radius: 15px;

}

#container_in{
    margin-left: auto;
    margin-right: auto;
    margin-left: 15px;
    margin-right: 15px;    
}

#ikonka_gl{

}

#ikonka_gl img {
    border-radius: 8px;
    width:60%;
}

#index_center{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

#index_center h3{
    position: relative;
}

#news{
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

#news_one{
    margin-left: 15px;
    margin-right: 30px;
}